@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

/* :root {
    --color-blue: #0065FC;
    --color-blue-light: #DEEBFF;
    --color-gray: #F2F2F2;
} */

.bleue {
    color: #0065FC;
}

.grise {
    color: #F2F2F2;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    background-color: white;
}

#resultat h1 {
    display: none;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h2[id]:before {
    content:'';
    display:block;
    height:18vh;
    margin-top:-18vh;
    visibility:hidden
}

h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
}

h4 { 
    font-size: 18px;
}

h5 {
    font-size: 16px;
    line-height: 1.1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

span:target {
    padding-top: 20vh; 
    margin-top: -20vh; 
}

.container {
    display: flex;
}

/*************************/
/*         Page          */
/*************************/

.page-wrapper {
    display: flex;
    flex-direction: column;
}

/*************************/
/*        Header         */
/*************************/

header {
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: white;
}

header .container {
    line-height: 1;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 8vh;
    padding-top: 3.5vh;
}

header .container div {
    width: 48vw;
}

#logo img {
    width: 7em;
    padding-left: 20px;
}

#inscription {
    margin-bottom: 2vh;
    text-align: right;
    font-weight: 800;
    color: #0065FC;
}

/*************************/
/*      Navigation       */
/*************************/

#desktop-nav {
    display: none;
}

#mobile-nav {
    display: flex;
}

nav label {
    cursor: pointer;
    width: 100%;
    text-align: center;
}

input[type="radio"].onglet {
    display: none;
}

input[type="radio"].onglet + label {
    padding: 0.5rem 1rem;
    transition: all 0.5s ease-in-out;
}

input[type="radio"].onglet.ongletHeb:hover + label,
input[type="radio"].onglet.ongletHeb:checked + label,
input[type="radio"].onglet.ongletAct:hover + label,
input[type="radio"].onglet.ongletAct:checked + label {
    border-bottom: 3px solid #0065FC;
    font-weight: 600;
    color: #0065FC;
}

/*************************/
/*   Corps de la page    */
/*************************/

main {
    padding: 18vh 5vw 0 6vw;
}

/*************************/
/*  Barre de recherche   */
/*************************/

.hero-text {
    margin-top: -10px;
    padding: 10px 0;
}

.search-container {
    width: 100%;
}

.search-input {
    display: flex;
    height: 5vh;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
}

.search-input input {
    flex-grow: 1;
    font-weight: 800;
    padding-left: 20px;
    font-size: 16px;
    color: black;
    border: none;
}

.search-input .fa-map-marker-alt {
    padding: 8px 12px;
    background-color: #F2F2F2;
    border-radius: 8px 0 0 8px;
}

.submit {
    width: 34px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

/*************************/
/* Filtres de recherche  */
/*************************/

.filtres {
    display: flex;
    flex-wrap: wrap;
}

.filtres-titre {
    width: 100%;
}

.filtres .fas {
    color: #0065FC;
    border-radius: 25px;
    background-color: #DEEBFF;
    padding: 12px;
    margin: -10px 12px -10px -10px;
/*    border: 3px solid #DEEBFF; */
    width: 20px;
    height: 20px;
    text-align: center;
}

.filtres label {
    cursor: pointer;
}

input[type="checkbox"].check {
    display: none;
}

input[type="checkbox"].check + label {
    font-weight: 700;
    padding: 7px 14px 7px 7px;
    border-radius: 25px;
    border: 3px solid #F2F2F2;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="checkbox"].check:hover + label {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
    color: #0065FC;
}

/* input[type="checkbox"].check:checked + label {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
} */

.result-filtres {
    display: flex;
    height: 12vh;
    padding-top: 20px;
}

.result-filtres p {
    margin-top: 0;
    line-height: 1.2;
}

.fas.fa-info {
    width: 10px;
    color: #0065FC;
    padding: 4px 8px 9px 8px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    height: 10px;
    text-align: center;
    margin-right: 10px;
    font-size: 14px;
}

/*************************/
/*   Section "Les plus   */
/*     populaires"       */
/*************************/

#populaire {
    margin: 0 -4vw 0 -7vw;
    padding: 20px 0;
    background-color: #F2F2F2;
}

.populaires {
    margin: 0 4vw 0 7vw;
}

.populaires a:hover {
    color: #0065FC;
}

#populaire h2 {
    margin-left: 10vw;
}

#populaire h2::after {
    content:url(img/chart-line-solid.svg);
    position: absolute;
    min-width: 20px;
    padding: 11px;
    color: #000000;
    font-size: 14px;
    right: 5px;
}

.populaires .card {
    display: flex;
    height: 20vh;
    box-shadow: 0 4px 8px 0 #ABABAB;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 12px;
    padding: 4px;
}

.populaires .col-img {
    width: 20vh;
    height: 20vh;
}

.populaires .col-img img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 18px 0 0 18px;
}

.populaires .col-text {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 12px 12px 0 12px;
}

.populaires .col-text h5 {
    margin: 0px;
    height: 6vh;
}

.populaires .col-text p {
    font-size: 12px;
    margin: 0px;
}

.populaires .card-text {
    height: 8vh;
}

.populaires .rating {
    height: 2vh;
}

.card {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card:hover {
    box-shadow: 0 10px 20px 0 #ABABAB !important;
}

/*************************/
/*       Section         */
/*    "Hébergements"     */
/*************************/

.hebergements a:hover {
    color: #0065FC;
}

.hebergements .card {
    display: flex;
    flex-direction: column;
    height: 27vh;
    box-shadow: 0 4px 8px 0 #ABABAB;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 12px;
    padding: 4px;
}

.hebergements .col-img {
    width: 100%;
    height: 16vh;
}

.hebergements .col-img img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.hebergements .col-text {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 12px 12px 0 12px;
}

.hebergements .col-text h5 {
    margin: 0px;
    height: 3vh;
}

.hebergements .col-text p {
    font-size: 12px;
    margin: 0px;
}

.hebergements .card-text {
    height: 3vh;
}

.hebergements .rating {
    height: 2vh;
}

.afficherPlus h4 {
    padding: 20px 0;
}

.afficherPlus a:hover {
    color: #0065FC;
}

/*************************/
/*       Section         */
/*     "Activités"       */
/*************************/

.activite {
    padding-top: 2vh;
}

.activites a:hover {
    color: #0065FC;
}

.activites .card {
    display: flex;
    flex-direction: column;
    height: 27vh;
    box-shadow: 0 4px 8px 0 #ABABAB;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 25px;
}

.activites .col-img {
    width: 100%;
    height: 20vh;
}

.activites .col-img img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.activites .col-text {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 12px 12px 0 12px;
}

.activites .col-text h5 {
    margin: 0px;
    height: 3vh;
}

/*************************/
/*     Pied de page      */
/*************************/

footer {
    background-color: #F2F2F2;
    margin-top: 4vh;
    padding: 3vh 8vw 6vh 8vw;
    display: flex;
    flex-direction: column;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer h4 {
    margin-bottom: 10px;
}

footer a:hover {
    color: #0065FC;
    font-weight: bold;
}

/***** MEDIA QUERIES *****/

/* Desktop */

@media (min-width: 992px) {
    header {
        padding-bottom: 2vh;
    }

    header .container {
        justify-content: space-between;
        padding: 0;
        height: 10vh;
    }
    
    header .container div {
        width: auto;
    }

    #logo {
        flex-grow: 1;
        padding-top: 5vh;
    }

    #logo img {
        width: 8vw;
        padding-left: 3vw;
    }

    #desktop-nav {
        display: flex;
        flex-direction: row;
        height: 10vh;
    }
    
    #mobile-nav {
        display: none;
    }

    input[type="radio"].onglet-a {
        display: none;
    }

    input[type="radio"].onglet-a + label {
        padding: 5vh 0 0.6vh 0;
        transition: all 0.5s ease-in-out;
    }
    
    input[type="radio"].onglet-a.ongletHeb-a:hover + label,
    input[type="radio"].onglet-a.ongletHeb-a:checked + label,
    input[type="radio"].onglet-a.ongletAct-a:hover + label,
    input[type="radio"].onglet-a.ongletAct-a:checked + label {
        border-top: 3px solid #0065FC;
        font-weight: 600;
        color: #0065FC;
    }

    nav label {
        width: 12vw;
        border-top: 3px solid transparent;
        line-height: 2;
    }

    #inscription {
        width: 0;
        margin-bottom: 1vh;
        padding-right: 10vw;
        padding-left: 2vw;
        line-height: 2;
    }

    main {
        padding: 12vh 3vw 0 3vw;
    }

    span:target {
        padding-top: 12vh; 
        margin-top: -12vh; 
    }

    .recherche {
        line-height: 1;
    }

    .search-container {
        width: 30%;
    }

    .fa-search::before {
        content: " Rechercher ";
    }

    .submit {
        width: auto;
        border-radius: 0 10px 10px 0;
        font-size: 14px;
        padding: 0 12px;
    }

    .search-input .fa-map-marker-alt {
        padding: 14px 16px 0 16px;
        background-color: #F2F2F2;
        border-radius: 10px 0 0 10px;
    }

    .filtres {
        padding-top: 4vh;
        align-items: baseline;
    }

    .filtres-titre {
        width: 9%;
    }

    input[type="checkbox"].check + label {
        margin-right: 30px;
    }

    .fas.fa-info {
        padding: 5px 7px 8px 7px;
    }

    .result-filtres p {
        margin-top: 2px;
        line-height: 1.8;
    }

    /* Résultat*/

    #resultat {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    /* Populaires */

    #populaire {
        width: 30vw;
        margin: 0;
        padding: 20px 0 0 0;
        border-radius: 25px;
    }
    
    .populaires {
        margin: 0 3vw 0 3vw;
    }
    
    #populaire h2 {
        margin-left: 3vw;
    }
    
    #populaire h2::after {
        right: auto;
        margin-left: 6vw;
    }
    
    .populaires .card {
        height: 15vh;
        margin-bottom: 3vw;
    }
    
    .populaires .col-img {
        width: 15vh;
        height: 15vh;
    }
    
    .populaires .rating {
        height: 4vh;
    }

    /* Hébergement */
    
    .hebergement {
        border-radius: 25px;
        width: 60vw;
        padding: 20px 0;
        background-color: #F2F2F2;
    }

    .hebergement h2 {
        margin-left: 3vw;
    }

    .hebergements {
        margin: 0 3vw 0 3vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hebergements .card {
        height: 20vh;
        width: 16vw;
        margin-bottom: 30px;
    }
    
    .hebergements .col-img {
        width: 100%;
        height: 12vh;
    }
    
    .hebergements .col-text h5 {
        height: 2vh;
    }
    
    .hebergements .card-text {
        height: 2vh;
    }
    
    .afficherPlus {
        margin-left: 3vw;
    }
    
    /* Activités */

    .activite {
        padding-top: 5vh;
    }

    .activites {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .activites .card {
        width: 33vh;
    }

    .activites .col-text {
        margin: 20px 12px 0 12px;
    }

    .col1, .col2, .col3, .col4  {
        display: flex;
        flex-direction: column;
    }

    .col1 .card, .col3 .card {
        height: 50vh;
    }

    .col1 .col-img, .col3 .col-img {
        height: 44vh;
    }

    .col2 a:nth-child(1) .card {
        height: 26vh;
    }

    .col2 a:nth-child(2) .card {
        height: 19.5vh;
        margin-top: 2vh;
    }

    .col2 a:nth-child(2) .card .col-img {
        height: 13vh;
    }

    .col4 .card {
        height: 22.6vh;
    }

    .col4 .col-img {
        height: 16vh;
    }
    .col4 a:nth-child(2) .card {
        margin-top: 2vh;
    }


    /* footer */

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding-right: 12vw;
    }
    
    footer div {
        width: 22vw;
    }
}

/* Tablette */

@media (min-width: 768px) and (max-width: 991.98px) {
    header .container {
        padding-top: 0;
    }

    main {
        padding: 15vh 5vw 0 5vw;
    }

    .search-input .fa-map-marker-alt {
        padding: 18px 18px;
    }

    .submit {
        width: 50px;
    }

    .result-filtres {
        height: 8vh;
    }

    .fas.fa-info {
        width: 8px;
    }

    .result-filtres p {
        line-height: 2;
    }

    /* Populaires */

    #populaire {
        margin: 0 -5vw 0 -7vw;
    }

    .populaires .card {
        height: 16vh;
    }

    .populaires .col-img {
        width: 27vh;
        height: 16vh;
    }

    .populaires .col-text h5 {
        height: 9vh;
    }
    
    .populaires .card-text {
        height: 12vh;
    }
    
    .populaires .rating {
        height: 10vh;
    }

    .populaires .col-text h5,
    .hebergements .col-text h5 {
        font-size: 20px;
    }

    .populaires .col-text p,
    .hebergements .col-text p {
        font-size: 16px;
    }

    /* H&bergements */

    .hebergements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hebergements .card {
        margin-bottom: 25px;
        width: 42vw;
    }

    /* Activités */

    .activites {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .activites .card {
        width: 33vh;
    }

    .activites .col-text {
        margin: 20px 12px 0 12px;
    }

    .col1, .col2, .col3, .col4  {
        display: flex;
        flex-direction: column;
    }

    .col1 .card, .col3 .card {
        height: 50vh;
    }

    .col1 .col-img, .col3 .col-img {
        height: 44vh;
    }

    .col2 a:nth-child(1) .card {
        height: 26vh;
    }

    .col2 a:nth-child(2) .card {
        height: 21.5vh;
        margin-top: 0vh;
    }

    .col2 a:nth-child(2) .card .col-img {
        height: 15vh;
    }

    .col4 .card {
        height: 23.8vh;
    }

    .col4 .col-img {
        height: 18vh;
    }
    .col4 a:nth-child(2) .card {
        margin-top: 0vh;
    }

    /* Footer */

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .aPropos {
        width: 35vw;
    }

    .nosHebergements {
        width: 32vw;
    }

    .assistance {
        width: 16vw;
    }
}