@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

:root {
    --color-blue: #0065FC;
    --color-blue-light: #DEEBFF;
    --color-gray: #F2F2F2;
    --space: 8px;
    --container-padding: 20px;
    --container-width: calc(100vw - var(--container-padding) * 2);
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    background-color: white;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

h1[id]:before {
    content:'';
    display:block;
    height:18vh;
    margin-top:-18vh;
    visibility:hidden
}

h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
}

h3 {
    font-size: 16px;
    line-height: 1.1;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
}

/*************************/
/*         Page          */
/*************************/

.page-wrapper {
    display: flex;
    flex-direction: column;
}

/*************************/
/*        Header         */
/*************************/

header {
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: white;
}

header .container {
    line-height: 1;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 8vh;
    padding-top: 3.5vh;
}

header .container div {
    width: 48vw;
}

#logo img {
    width: 7em;
    padding-left: 20px;
}

#inscription {
    margin-bottom: 2vh;
    text-align: right;
    font-weight: 800;
    color: var(--color-blue);
}

/*************************/
/*      Navigation       */
/*************************/

nav {
    display: flex;
}

nav label {
    cursor: pointer;
    width: 100%;
    text-align: center;
}

input[type="radio"].onglet {
    display: none;
}

input[type="radio"].onglet + label {
    padding: 0.5rem 1rem;
    transition: all 0.5s ease-in-out;

}

input[type="radio"].onglet.ongletHeb:hover + label {
    border-bottom: 3px solid var(--color-blue);
    font-weight: 600;
    color: var(--color-blue);
}

input[type="radio"].onglet.ongletHeb:checked + label {
    border-bottom: 3px solid var(--color-blue);
    font-weight: 600;
    color: var(--color-blue);
}

input[type="radio"].onglet.ongletAct:hover + label {
    border-bottom: 3px solid var(--color-blue);
    font-weight: 600;
    color: var(--color-blue);
}

input[type="radio"].onglet.ongletAct:checked + label {
    border-bottom: 3px solid var(--color-blue);
    font-weight: 600;
    color: var(--color-blue);
}

/*************************/
/*   Corps de la page    */
/*************************/

main {
    padding: 18vh 4vw 0 7vw;
}

/*************************/
/*  Barre de recherche   */
/*************************/

.hero-text {
    margin-top: -10px;
    padding: 10px 0;
}

.search-container {
    width: 100%;
}

.search-input {
    display: flex;
    height: 5vh;
}

.search-input input {
    flex-grow: 1;
    font-weight: 800;
    margin: 0 -39px 0 29px;
    font-size: 16px;
    color: black;
    border: none;
}

.search-input .fa-map-marker-alt {
    margin: 9px 5px 0 20px;
}

.submit {
    width: 34px;
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 10px;
}

/*************************/
/* Filtres de recherche  */
/*************************/

.filtres {
    display: flex;
    flex-wrap: wrap;
}

.filtres-titre {
    width: 100%;
}

.filtres .fas {
    color: var(--color-blue);
    border-radius: 25px;
    background-color: var(--color-blue-light);
    padding: 12px;
    margin: -10px 12px -10px -10px;
    border: 3px solid var(--color-blue-light);
    width: 14px;
    height: 14px;
    text-align: center;
}

.filtres label {
    cursor: pointer;
}

input[type="checkbox"].check {
    display: none;
}

input[type="checkbox"].check + label {
    font-weight: 700;
    padding: 7px 14px 7px 7px;
    border-radius: 25px;
    border: 3px solid var(--color-gray);
    background-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="checkbox"].check:hover + label {    
    color: var(--color-blue);
}

input[type="checkbox"].check:checked + label {
    background-color: var(--color-blue-light);
    border-color: var(--color-blue-light);
}

.result-filtres {
    display: flex;
    height: 15vh;
    padding-top: 20px;
}

.result-filtres p {
    margin-top: 0;
    line-height: 1.2;
}

.fas.fa-info {
    width: 10px;
    color: var(--color-blue);
    padding: 4px 8px 9px 8px;
    border: 2px solid var(--color-gray);
    border-radius: 25px;
    height: 10px;
    text-align: center;
    margin-right: 10px;
    font-size: 14px;
}

/*************************/
/*   Section "Les plus   */
/*     populaires"       */
/*************************/

#populaire {
    margin: 0 -4vw 0 -7vw;
    padding: 20px 0;
    background-color: var(--color-gray);
}

.populaires {
    margin: 0 4vw 0 7vw;
}

.populaires h1::after {
    content:url(img/chart-line-solid.svg);
    position: absolute;
    min-width: 20px;
    padding: 11px;
    color: #000000;
    font-size: 14px;
    right: 5px;
}

.bleue {
    color: var(--color-blue);
}

.grise {
    color: var(--color-gray);
}

.card {
    display: flex;
    height: 17vh;
    box-shadow: 0 4px 8px 0 #ABABAB;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 12px;
}

.col-img {
    padding: 4px;
    width: 16vh;
    height: 16vh;
}

.col-img img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 18px 0 0 18px;
}

.col-text {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 12px 12px 0 12px;
}

.col-text h3 {
    margin: 0px;
    height: 5vh;
}

.col-text p {
    font-size: 12px;
    margin: 0px;
}

.card-text {
    height: 7vh;
}

.rating {
    height: 2vh;
}