@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

:root {
    --color-blue: #0065FC;
    --color-blue-light: #DEEBFF;
    --color-gray: #F2F2F2;
    --space: 8px;
    --container-padding: 20px;
    --container-width: calc(100vw - var(--container-padding) * 2);
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    background-color: white;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

h1[id]:before {
    content:'';
    display:block;
    height:18vh;
    margin-top:-18vh;
    visibility:hidden
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
}

/*************************/
/*         Page          */
/*************************/

.page-wrapper {
    display: flex;
    flex-direction: column;
}

/*************************/
/*        Header         */
/*************************/

header {
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: white;
}

header .container {
    line-height: 1;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 8vh;
    padding-top: 3.5vh;
}

header .container div {
    width: 48vw;
}

#logo img {
    width: 7em;
    padding-left: 20px;
}

#inscription {
    margin-bottom: 2vh;
    text-align: right;
    font-weight: 800;
    color: var(--color-blue);
}

/*************************/
/*      Navigation       */
/*************************/

nav {
    display: flex;
}

label {
    cursor: pointer;
    width: 100%;
    text-align: center;
}

input[type="radio"].onglet {
    display: none;
}

input[type="radio"].onglet + label {
    padding: 0.5rem 1rem;
    transition: all 0.5s ease-in-out;

}

input[type="radio"].onglet.ongletHeb:hover + label {
    border-bottom: 3px solid var(--color-blue);
    font-weight: 600;
    color: var(--color-blue);
}

input[type="radio"].onglet.ongletHeb:checked + label {
    border-bottom: 3px solid var(--color-blue);
    font-weight: 600;
    color: var(--color-blue);
}

input[type="radio"].onglet.ongletAct:hover + label {
    border-bottom: 3px solid var(--color-blue);
    font-weight: 600;
    color: var(--color-blue);
}

input[type="radio"].onglet.ongletAct:checked + label {
    border-bottom: 3px solid var(--color-blue);
    font-weight: 600;
    color: var(--color-blue);
}

/*************************/
/*   Corps de la page    */
/*************************/

main {
    padding: 18vh 7vw 0 7vw;
}

/*************************/
/*  Barre de recherche   */
/*************************/

.hero-text {
    margin-top: -10px;
    padding: 10px 0;
}

.search-container {
    width: 100%;
}

.search-input {
    display: flex;
    height: 5vh;
}

.search-input input {
    flex-grow: 1;
    font-weight: 800;
    margin: 0 -39px 0 29px;
    font-size: 16px;
    color: black;
    border: none;
}

.search-input .fa-map-marker-alt {
    margin: 9px 5px 0 20px;
}

.submit {
    width: 34px;
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 10px;
}